body {
  width: 100%;
  min-width: 320px;
  font-family: "OpenSans";
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  font-display: swap;
  color: #444444;
  background-color: #ffffff;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.mp-reset {
  margin: 0;
  padding: 0;
}
.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.link-reset {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000000;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.woff) format("woff"), url(../fonts/OpenSans-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "OpenSansBold";
  src: url(../fonts/OpenSans-Bold.woff) format("woff"), url(../fonts/OpenSans-Bold.woff2) format("woff2");
}
.main-nav {
  position: relative;
  margin-bottom: 75px;
  font-family: "OpenSansBold";
  font-size: 17px;
  color: #000000;
  background-color: #ffffff;
}
.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-nav__list a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000000;
}
.main-nav__item {
  position: relative;
}
.main-nav__item a {
  display: block;
  width: 100%;
  padding: 27px 0;
  padding-left: 24%;
  box-sizing: border-box;
}
@media (min-width: 321px) {
  .main-nav__item {
    text-align: center;
  }
  .main-nav__item a {
    padding-left: 0;
  }
}
.main-nav__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #eaeaea;
}
.main-nav__item--search svg {
  position: absolute;
  top: 32px;
  left: 10%;
}
.main-nav__item--cart svg {
  position: absolute;
  top: 31px;
  left: 10%;
}
.main-nav--closed .main-nav__list {
  display: none;
}
.main-nav--closed .main-nav__toggle--close {
  display: none;
}
.main-nav--opened .main-nav__list {
  display: block;
}
.main-nav--opened .main-nav__toggle--open {
  display: none;
}
.main-nav__toggle {
  position: absolute;
  border: none;
  background: none;
}
.main-nav__toggle--close {
  top: 29px;
  right: 30px;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}
.main-nav__toggle--close::before {
  content: '';
  position: absolute;
  top: 7px;
  left: -6px;
  width: 27px;
  height: 2px;
  background-color: #221f1f;
  transform: rotate(45deg);
}
.main-nav__toggle--close::after {
  content: '';
  position: absolute;
  top: 7px;
  left: -6px;
  width: 27px;
  height: 2px;
  background-color: #221f1f;
  transform: rotate(-45deg);
}
.main-nav__toggle--open {
  top: 32px;
  right: 31px;
  width: 20px;
  height: 14px;
}
.main-nav__toggle--open::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: 0 2px 0 0 #000, 0 8px 0 0 #000, 0 14px 0 0 #000;
}
@media (min-width: 768px) {
  .main-nav {
    display: flex;
    padding: 0 50px;
    margin-bottom: 160px;
  }
  .main-nav::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e7e7e7;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__item--search span {
    display: none;
  }
  .main-nav--closed .main-nav__list,
  .main-nav--opened .main-nav__list {
    display: flex;
  }
  .main-nav__list {
    flex-wrap: wrap;
  }
  .main-nav__item a {
    padding: 32px 0;
  }
  .main-nav__item--search {
    width: 82px;
    order: 1;
    border: 1px solid #e7e7e7;
    border-top: none;
  }
  .main-nav__item--search svg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main-nav__item--cart {
    padding-left: 83px;
    order: 2;
  }
  .main-nav__item--cart svg {
    top: 34px;
    left: 31px;
  }
  .main-nav__item--catalog {
    position: absolute;
    top: 88px;
    left: 50px;
    order: 3;
  }
  .main-nav__item--catalog a {
    padding: 20px 0;
  }
  .main-nav__item--order {
    position: absolute;
    top: 88px;
    left: 217px;
    order: 4;
  }
  .main-nav__item--order a {
    padding: 20px 0;
  }
  .main-nav__item::after {
    content: none;
  }
}
.page-header {
  background-image: url(../img/hero-mobile.jpg);
  background-position: center 65px;
  background-repeat: no-repeat;
  background-color: #f9f9f9;
}
@media (min-width: 321px) {
  .page-header {
    background-image: url(../img/hero-tablet.jpg@1x.jpg);
    background-size: auto 373px;
  }
}
.page-header--nav-opened {
  background-position: center 376px;
}
.page-header__logo {
  position: relative;
  width: 100%;
  display: block;
  padding: 22px 0;
}
.page-header__logo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #eaeaea;
}
.page-header__logo-image {
  display: block;
  margin: 0 auto;
}
.page-header__text-wrapper {
  display: none;
}
.page-header__title {
  margin: 0;
  padding: 0;
  margin-bottom: 120px;
  font-family: "OpenSansBold";
  font-style: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}
.page-header__link-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.page-header__link-wrapper li:nth-child(2n) .page-header__link {
  background-color: #56c3b2;
}
.page-header__link {
  position: relative;
  display: block;
  padding: 28px 30px;
  font-family: "OpenSansBold";
  font-style: 19px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background-color: #63d1bb;
}
.page-header__link--interior {
  background-image: url(../img/icon-interior.svg);
  background-position: 76% 23px;
  background-repeat: no-repeat;
}
.page-header__link--toy {
  background-image: url(../img/icon-toy.svg);
  background-position: 78% 21px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .page-header {
    position: relative;
    background-image: url(../img/hero-tablet.jpg@1x.jpg);
    background-position: center bottom;
    background-size: auto;
  }
  .page-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-position: 0 0;
    background-repeat: repeat;
  }
  .page-header__logo {
    width: auto;
    padding: 22px 0 20px 0;
    margin-right: auto;
  }
  .page-header__logo::after {
    content: none;
  }
  .page-header__logo-image {
    margin: 0;
  }
  .page-header__text-wrapper {
    position: absolute;
    top: 108px;
    right: 50px;
    margin: 0;
    padding: 0;
    display: block;
  }
  .page-header__side-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: none;
    font-family: "OpenSansBold";
    font-style: 15px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
  }
  .page-header__text {
    display: block;
    font-family: "OpenSans";
    font-style: 15px;
    line-height: 24px;
    font-weight: normal;
  }
  .page-header__title {
    margin-bottom: 370px;
    font-size: 43px;
    line-height: 50px;
  }
  .page-header__link-wrapper {
    width: 100%;
    padding: 0 50px;
    display: flex;
    box-sizing: border-box;
  }
  .page-header__link-wrapper li {
    width: 50%;
  }
  .page-header__link {
    font-size: 20px;
    line-height: 30px;
  }
}
.top-product {
  position: relative;
  padding: 33px 30px 42px;
}
.top-product::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-image: url(../img/bg-zigzag-line.svg);
  background-position: 0 0;
  background-repeat: repeat;
  background-size: contain;
}
.top-product__title {
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
  font-family: "OpenSansBold";
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}
.top-product__name {
  display: block;
  margin-bottom: 24px;
  font-family: "OpenSansBold";
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
}
.top-product__name br {
  display: none;
}
.top-product__content-wrapper {
  display: flex;
  flex-direction: column;
}
.top-product__text {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}
.top-product__table {
  width: 100%;
  margin-bottom: 28px;
  line-height: 20px;
}
.top-product__row {
  position: relative;
  display: flex;
  padding: 11px 0 10px;
}
.top-product__row::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ececec;
}
.top-product__column1 {
  width: 38%;
  display: block;
}
.top-product__column2 {
  width: 62%;
  display: block;
}
.top-product__picture {
  display: block;
}
.top-product__image {
  width: 100%;
}
.top-product__price-wrapper {
  order: 3;
}
.top-product__price {
  display: block;
  margin-top: 26px;
  margin-bottom: 25px;
  font-family: "OpenSansBold";
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}
.top-product__button {
  max-width: 260px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .top-product {
    padding: 54px 50px 68px;
  }
  .top-product::after {
    height: 15px;
  }
  .top-product__title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 53px;
  }
  .top-product__title {
    font-size: 43px;
    line-height: 50px;
  }
  .top-product__name {
    margin: 0;
    padding: 0;
    display: block;
    margin-left: auto;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }
  .top-product__name br {
    display: block;
  }
  .top-product__content-wrapper {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .top-product__text-wrapper {
    width: 43%;
    margin-right: auto;
    order: 1;
  }
  .top-product__picture {
    width: 50%;
    order: 2;
  }
  .top-product__text {
    font-size: 17px;
    line-height: 30px;
  }
  .top-product__price-wrapper {
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 43%;
    order: 3;
  }
  .top-product__price {
    margin: 0;
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 24px;
  }
  .top-product__button {
    max-width: none;
    margin: 0;
  }
}
@media (min-width: 1250px) {
  .top-product__title {
    font-size: 53px;
    line-height: 57px;
  }
}
.button {
  display: block;
  padding: 14px 10px;
  font-family: "OpenSansBold";
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #444444;
  background: none;
  border: 2px solid #444444;
  box-sizing: border-box;
}
.about-us {
  padding: 32px 30px 0;
  margin-bottom: 58px;
}
.about-us__title {
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
  font-family: "OpenSansBold";
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}
.about-us__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "OpenSansBold";
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}
.about-us__item {
  position: relative;
}
.about-us__item--flower {
  padding-top: 55px;
  margin-bottom: 28px;
}
.about-us__item--flower::after {
  content: '';
  position: absolute;
  top: 0;
  left: 8px;
  width: 32px;
  height: 37px;
  background-image: url(../img/icon-feature-1.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.about-us__item--money {
  padding-top: 55px;
  margin-bottom: 33px;
}
.about-us__item--money::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 47px;
  height: 27px;
  background-image: url(../img/icon-feature-3.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.about-us__item--heart {
  padding-top: 50px;
  margin-bottom: 30px;
}
.about-us__item--heart::after {
  content: '';
  position: absolute;
  top: 0;
  left: 7px;
  width: 34px;
  height: 27px;
  background-image: url(../img/icon-feature-5.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.about-us__item--clew {
  padding-top: 53px;
  margin-bottom: 31px;
}
.about-us__item--clew::after {
  content: '';
  position: absolute;
  top: 0;
  left: 3px;
  width: 35px;
  height: 34px;
  background-image: url(../img/icon-feature-2.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.about-us__item--rocket {
  padding-top: 52px;
  margin-bottom: 30px;
}
.about-us__item--rocket::after {
  content: '';
  position: absolute;
  top: 0;
  left: -6px;
  width: 55px;
  height: 23px;
  background-image: url(../img/icon-feature-4.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.about-us__item--gift {
  padding-top: 54px;
}
.about-us__item--gift::after {
  content: '';
  position: absolute;
  top: 0;
  left: 3px;
  width: 33px;
  height: 32px;
  background-image: url(../img/icon-feature-6.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
@media (min-width: 380px) {
  .about-us__item br {
    display: none;
  }
}
@media (min-width: 768px) {
  .about-us__title {
    font-size: 43px;
    line-height: 50px;
  }
  .about-us__list {
    font-size: 20px;
    line-height: 22px;
  }
}
@media (min-width: 1250px) {
  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }
}
.reviews {
  position: relative;
  padding: 0 30px 51px;
}
.reviews::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-image: url(../img/bg-zigzag-line.svg);
  background-position: 0 0;
  background-repeat: repeat;
  background-size: contain;
}
.reviews__title {
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  font-family: "OpenSansBold";
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}
.reviews__text {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  line-height: 30px;
}
.reviews__author {
  display: block;
  margin-bottom: 3px;
  font-family: "OpenSansBold";
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}
.reviews__author-nickname {
  display: block;
  margin-bottom: 30px;
  font-family: "OpenSans";
  font-size: 17px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
}
.reviews__nav {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 38px;
}
.reviews__prev,
.reviews__next {
  position: relative;
  width: 50%;
  height: 50px;
  border: 1px solid #ececec;
  background: none;
}
.reviews__prev::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 26px;
  background-image: url(../img/icon-left-arrow.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}
.reviews__next::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 26px;
  background-image: url(../img/icon-right-arrow.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}
.reviews__button {
  width: 260px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }
  .reviews__text {
    font-size: 17px;
  }
}
@media (min-width: 1250px) {
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
}
.contacts {
  margin-bottom: 39px;
}
.contacts__wrapper {
  padding: 38px 30px 0;
}
.contacts__title {
  margin: 0;
  padding: 0;
  font-family: "OpenSansBold";
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}
.contacts__table {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-family: "OpenSans";
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
}
.contacts__table tr:nth-child(2) td {
  padding-top: 30px;
}
.contacts__table td {
  vertical-align: text-top;
}
.contacts__table td:first-child {
  width: 30%;
}
.contacts__table td:nth-child(2) {
  width: 70%;
}
.contacts__email span {
  position: relative;
}
.contacts__email span::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #62d1ba;
}
.contacts__map {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 457px;
  margin-bottom: 39px;
  background-image: url(../img/map-mobile@1x.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.contacts__map::after {
  content: '';
  position: absolute;
  top: 145px;
  left: 139px;
  width: 67px;
  height: 100px;
  background-image: url(../img/icon-map-pin.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
@media (min-width: 321px) {
  .contacts__map::after {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 321px) {
  .contacts__map {
    background-image: url(../img/map-tablet@1x.jpg);
    background-position: center 0;
  }
}
.contacts__button {
  width: 260px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
  }
  .contacts__table {
    font-size: 17px;
  }
}
@media (min-width: 1250px) {
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }
}
.page__footer {
  background-color: #f1f1f1;
}
.page__footer-wrapper {
  padding: 25px 30px 23px;
}
.page-footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .page-footer__logo {
    display: block;
  }
}
.social {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 62px 26px 57px;
}
.social::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}
.copyright {
  margin: 0;
  padding: 0;
  width: 185px;
  margin: 0 auto;
  margin-top: 22px;
  display: flex;
  align-items: center;
}
.copyright svg {
  fill: #63d1bb;
}
.copyright__text {
  display: block;
  margin-right: 30px;
  font-family: "OpenSansBold";
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}
.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.catalog__name {
  font-family: "OpenSansBold";
  font-size: 17px;
  font-weight: bold;
  color: #000000;
}
.catalog__characteristics {
  font-family: "OpenSans";
  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
}
.catalog__price {
  font-family: "OpenSansBold";
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}
@media (min-width: 768px) {
  .catalog__name {
    font-size: 20px;
    line-height: 24px;
  }
  .catalog__characteristics {
    font-size: 15px;
  }
  .catalog__price {
    font-size: 17px;
  }
}
.video__title {
  font-family: "OpenSansBold";
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}
.video__text {
  font-family: "OpenSans";
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}
@media (min-width: 768px) {
  .video__title {
    font-size: 20px;
  }
  .video__text {
    font-size: 15px;
    line-height: 30px;
  }
}
.form__text {
  font-family: "OpenSans";
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}
.form__title {
  font-family: "OpenSansBold";
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
}
.form__group {
  border: none;
}
.form__label {
  font-family: "OpenSansBold";
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}
.form__input {
  font-family: "OpenSans";
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
}
.form__input::placeholder {
  opacity: 0.3;
}
.form__legend {
  font-family: "OpenSans";
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}
@media (min-width: 768px) {
  .form__text {
    font-size: 17px;
    line-height: 30px;
  }
  .form__label {
    font-size: 19px;
  }
  .form__input {
    font-size: 19px;
  }
  .form__legend {
    font-size: 17px;
    line-height: 30px;
  }
}
.popup {
  display: none;
}
