.button {
	display: block;
	padding: 14px 10px;
	
	font-family: "OpenSansBold";
	font-size: 17px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	
	color: @grey-color;
	background: none;
	border: 2px solid @grey-color;
	box-sizing: border-box;

	&:hover,
	&:focus {
		color: #ffffff;
		background-color: @grey-color;
		cursor: pointer;
	}
	
	&:active {
		
		& span {
			opacity: 0.3;
		}
	}
}