.button {
	display: block;
	
	font-family: "OpenSansBold";
	font-size: 17px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	
	color: @grey-color;
	background: none;
	border: none;
}