.copyright {
	.mp-reset;
	width: 185px;
	margin: 0 auto;
	margin-top: 22px;
	display: flex;
	align-items: center;
	
	& svg {
		fill: @blue-color;
	}
}

.copyright__text {
	display: block;
	margin-right: 30px;
	
	font-family: "OpenSansBold";
	font-size: 19px;
	line-height: 18px;
	font-weight: bold;
	
	color: #000000;
}

@media (min-width: @tablet-width) {
	.copyright {
		.mp-reset;
		margin-left: auto;
	}
	
	.copyright__link {
		position: relative;
		
		width: 27px;
		height: 34px;
		
		& svg {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}