.form {
	padding: 24px 30px 0;
	margin-bottom: 55px;
}

.form__text {
	.mp-reset;
	max-width: 1150px;
	margin: 0 auto;
	margin-bottom: 25px;

	font-family: "OpenSans";
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;

	box-sizing: border-box;
}

.form__group {
	.mp-reset;
	margin-bottom: 33px;

	border: none;

	&--type {

		& .form__input-label-wrapper {
			margin-bottom: 4px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&--color {

		& .form__input-label-wrapper {
			margin-bottom: 22px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&--full-name {

		& .form__input-label-wrapper {
			margin-bottom: 24px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&--phone {

		& .form__title {
			margin-bottom: 9px;
		}
	}

	&--email {

		& .form__title {
			margin-bottom: 9px;
		}
	}

	&--add {
		margin-bottom: 12px;

		& .form__title {
			margin-bottom: 24px;
		}
	}
}

.form__group-wrapper {
	max-width: 1150px;
	margin: 0 auto;

	box-sizing: border-box;
}

.form__title {
	position: relative;
	
	.mp-reset;
	display: table;
	width: 100%;
	margin-bottom: 27px;

	font-family: "OpenSansBold";
	font-size: 17px;
	line-height: 16px;
	font-weight: bold;
	text-transform: uppercase;

	color: @blue-color;

	&::after {
		content: '';

		position: absolute;
		top: 50%;
		right: 0;
		z-index: -1;

		width: 100%;
		height: 1px;

		background-color: #62d1ba;
		transform: translateY(-50%);
	}

	& span {
		padding-right: 24px;

		background-color: #ffffff;
	}
}

.form__input-label-wrapper {
	.mp-reset;

	&--phone {
		position: relative;
	}

	&--email {
		position: relative;
	}
}

.form__label {
	position: relative;

	display: block;

	font-family: "OpenSansBold";
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;

	color: #000000;
}

.form__input {
	width: 100%;
	padding: 15px 18px 15px 0;

	font-family: "OpenSans";
	font-size: 17px;
	line-height: 18px;
	font-weight: normal;

	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #000000;
	background-color: transparent;

	&::placeholder {
		opacity: 0.3;
	}

	&:hover,
	&:focus {
		border-bottom: 2px solid #62d1ba;
		outline: none;
	}

	&--radio + .form__label {
		padding: 10px 0 10px 62px;

		&::before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;

			width: 36px;
			height: 36px;

			border: 1px solid @grey-color;
			border-radius: 50%;
		}
	}

	&--radio:checked + .form__label::after {
		content: '';

		position: absolute;
		top: 12px;
		left: 12px;

		width: 15px;
		height: 15px;

		background-color: #62d1ba;
		border-radius: 50%;
	}

	&--radio:hover + .form__label,
	&--radio:focus + .form__label {
		cursor: pointer;

		&::before {
			border: 1px solid #62d1ba;
		}
	}

	&--radio:active + .form__label::before {
		border: 1px solid @grey-color;
		opacity: 0.3;
	}

	&--checkbox + .form__label {
		padding: 12px 0 10px 64px;

		&::before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;

			width: 36px;
			height: 36px;

			border: 2px solid @grey-color;
		}
	}

	&--checkbox:checked + .form__label {
		background-image: url(../img/icon-tick.svg);
		background-size: 22px 16px;
		background-position: 9px 12px;
		background-repeat: no-repeat;
	}

	&--checkbox:hover + .form__label,
	&--checkbox:focus + .form__label {
		cursor: pointer;

		&::before {
			border: 2px solid #62d1ba;
		}
	}

	&--checkbox:active + .form__label {

		&::before {
			border: 2px solid @grey-color;
			opacity: 0.3;
		}
	}

	&--phone {
		padding-right: 41px;

		&:hover,
		&:focus {

			& + .form__input-phone-icon {
				opacity: 1;

				& svg {
					fill: #62d1ba;
				}
			}
		}
	}

	&--email {
		padding-right: 40px;

		&:hover,
		&:focus {

			& + .form__input-email-icon {
				opacity: 1;

				& svg {
					fill: #62d1ba;
				}
			}
		}
	}

	&--add {
		padding: 15px;

		border: 2px solid @grey-color;

		&:hover,
		&:focus {
			border: 2px solid #62d1ba;
		}
	}
}

.form__input-phone-icon {
	position: absolute;
	top: 50%;
	right: 8px;

	width: 25px;
	height: 24px;
	display: block;

	opacity: 0.2;
	transform: translateY(-50%);
}

.form__input-email-icon {
	position: absolute;
	top: 50%;
	right: 4px;

	width: 32px;
	height: 32px;

	opacity: 0.2;
	transform: translateY(-50%);
}

.form__legend {
	display: block;
	margin-bottom: 30px;

	font-family: "OpenSans";
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
}

.form__button {
	width: 100%;
}

@media (min-width: @tablet-width) {
	.form {
		padding: 0;
		padding-top: 75px;
		margin-bottom: 50px;
	}

	.form__text {
		margin-bottom: 5px;
		padding: 0 50px;

		font-size: 17px;
		line-height: 30px;
	}

	.form__group-wrapper {
		padding: 0 50px;
		display: flex;
	}

	.form__group {
		padding: 50px 0;
		margin-bottom: 0;

		&--type {

			& .form__input-label-wrapper {
				margin-bottom: 24px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&--color {
			background-color: #f1f1f1;

			& .form__input-wrapper {
				width: 75%;
				margin-bottom: -24px;
				display: flex;
				flex-wrap: wrap;
			}

			& .form__input-label-wrapper {
				width: 50%;
				margin: 0;
				margin-bottom: 24px;

				&:last-child,
				&:nth-last-child(2) {
					margin-bottom: 0;
				}
			}
		}

		&--full-name {

			& .form__input-wrapper {
				width: 75%;
			}

			& .form__input-label-wrapper {
				display: flex;
				align-items: center;
			}

			& .form__label {
				padding-right: 25px;
			}
		}

		&--phone {
			padding-bottom: 24px;

			background-color: #f1f1f1;

			& .form__input-label-wrapper {
				width: 75%;
			}
		}

		&--email {
			padding-top: 0;

			background-color: #f1f1f1;

			& .form__input-label-wrapper {
				width: 75%;
			}
		}

		&--add {

			& .form__input-label-wrapper {
				width: 75%;
			}
		}
	}

	.form__title {
		width: 25%;
		margin-bottom: 0;
		padding-top: 19px;

		&::after {
			content: none;
		}

		& span {
			background-color: transparent;
		}
	}

	.form__label {
		font-size: 19px;
	}

	.form__input {
		padding: 15px 17px 15px 17px;

		font-size: 19px;

		&--radio + .form__label {
			padding: 17px 0 17px 80px;

			&::before {
				width: 49px;
				height: 49px;
			}
		}

		&--radio:checked + .form__label {

			&::after {
				top: 16px;
				left: 16px;

				width: 20px;
				height: 20px;
			}
		}

		&--checkbox + .form__label {
			padding: 17px 0 17px 82px;

			&::before {
				width: 50px;
				height: 48px;
			}
		}

		&--checkbox:checked + .form__label {
			background-size: 33px 22px;
			background-position: 11px 16px;
		}

		&--phone {
			padding-right: 41px;
		}

		&--email {
			padding-right: 40px;
		}

		&--add {
			height: 142px;
		}
	}

	.form__legend-button-wrapper {
		max-width: 1150px;
		margin: 0 auto;
		padding: 0 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		box-sizing: border-box;
	}

	.form__legend {
		.mp-reset;

		font-size: 17px;
		line-height: 30px;

		order: 2;
	}

	.form__button {
		width: 230px;
	}
}

@media (min-width: @desktop-width) {
	.form {
		padding-top: 125px;
	}

	.form__text {
		padding: 0 225px;
	}

	.form__title {
		width: 175px;

		text-align: center;
	}

	.form__group {

		&--color {

			& .form__input-label-wrapper {
				width: calc(100% / 3);
			}
		}

		&--full-name {

			& .form__input-wrapper {
				padding-right: 175px;
			}
		}

		&--phone {

			& .form__input-label-wrapper {
				padding-right: 175px;

				&::after {
					right: 183px;
				}
			}
		}

		&--email {

			& .form__input-label-wrapper {
				padding-right: 175px;

				&::after {
					right: 179px;
				}
			}
		}

		&--add {

			& .form__input-label-wrapper {
				padding-right: 175px;
			}
		}
	}

	.form__input-phone-icon {
		right: 183px;
	}

	.form__input-email-icon {
		right: 179px;
	}

	.form__legend-button-wrapper {
		padding: 0 225px;
	}
}
