.main-nav {
	font-family: "OpenSansBold";
	font-size: 17px;

	color: #000000;
}

.main-nav__list {
	.list-reset;

	& a {
		.link-reset;
	}
}

@media (min-width: @tablet-width) {
	.main-nav__item--search {

		& a {
			display: none;
		}
	}

}
