.main-nav {
	position: relative;

//	margin-bottom: 73px;

	font-family: "OpenSansBold";
	font-size: 17px;

	color: #000000;
	background-color: #ffffff;

	&--index {
		margin-bottom: 75px;
	}
}

.main-nav__wrapper {
	max-width: 1150px;
	margin: 0 auto;
}

.main-nav__list {
	.list-reset;

	& a {
		.link-reset;
	}
}

.main-nav__item {
	position: relative;

	& a {
		display: block;
		width: 100%;
		padding: 27px 0;
		padding-left: 24%;

		box-sizing: border-box;
	}

	@media (min-width: 321px) {
		text-align: center;

		& a {
			padding-left: 0;
		}
	}

	&::after {
		content: '';

		position: absolute;
		bottom: 0;
		left: 0;

		width: 100%;
		height: 1px;

		background-color: #eaeaea;
	}

	&--search svg {
		position: absolute;
		top: 32px;
		left: 10%;
	}

	&--cart svg {
		position: absolute;
		top: 31px;
		left: 10%;
	}
}

.main-nav--closed {

	& .main-nav__list {
		display: none;
	}

	& .main-nav__toggle--close {
		display: none;
	}
}

.main-nav--opened {

	& .main-nav__list {
		display: block;
	}

	& .main-nav__toggle--open {
		display: none;
	}
}

.main-nav__toggle {
	position: absolute;

	border: none;
	background: none;

	&--close {
		top: 29px;
		right: 30px;

		.mp-reset;
		width: 20px;
		height: 20px;

		&::before {
			content: '';

			position: absolute;
			top: 7px;
			left: -6px;

			width: 27px;
			height: 2px;

			background-color: #221f1f;
			transform: rotate(45deg);
		}

		&::after {
			content: '';

			position: absolute;
			top: 7px;
			left: -6px;

			width: 27px;
			height: 2px;

			background-color: #221f1f;
			transform: rotate(-45deg);
		}
	}

	&--open {
		top: 32px;
		right: 31px;

		width: 20px;
		height: 14px;

		&::before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 2px;

			box-shadow: 0 2px 0 0 #000, 0 8px 0 0 #000, 0 14px 0 0 #000;
		}

	}
}

@media (min-width: @tablet-width) {
	.main-nav {
//		display: flex;
		padding: 0 50px;
//		margin-bottom: 101px;		

		&--index {
			margin-bottom: 160px;
		}

		&::after {
			content: '';

			position: absolute;
			bottom: 0;
			left: 0;

			width: 100%;
			height: 1px;

			background-color: #e7e7e7;
		}
	}
	
	.main-nav__wrapper {
		display: flex;
	}

	.main-nav__toggle {
		display: none;
	}

	.main-nav__item--search {

		& span {
			display: none;
		}
	}

	.main-nav--closed,
	.main-nav--opened {

		& .main-nav__list {
			display: flex;
		}
	}

	.main-nav__list {
		flex-wrap: wrap;
	}

	.main-nav__item {

		& a {
			padding: 32px 0;
		}

		&--search {
			width: 82px;
			order: 1;

			border: 1px solid #e7e7e7;
			border-top: none;

			& svg {
				top: 50%;
				left: 50%;

				transform: translate(-50%, -50%);
			}
		}

		&--cart {
			padding-left: 83px;
			order: 2;

			& svg {
				top: 34px;
				left: 31px;
			}
		}

		&--catalog {
			position: absolute;
			top: 88px;
			left: 50px;

			order: 3;

			& a {
				padding: 20px 0;
			}
		}

		&--order {
			position: absolute;
			top: 88px;
			left: 217px;

			order: 4;

			& a {
				padding: 20px 0;
			}
		}

		&::after {
			content: none;
		}
	}
}

@media (min-width: @desktop-width) {
	.main-nav {
		position: relative;
		
		margin-bottom: 0;

		&::after {
			content: none;
		}
	}

	.main-nav__list {
		position: relative;

		width: 100%;
		padding-right: 50px;

		&::after {
			content: '';

			position: absolute;
			bottom: 0;
			left: 0;

			width: 100%;
			height: 1px;

			background-color: #e7e7e7;
		}
	}

	.main-nav__item {
		width: 234px;

		box-sizing: border-box;

		&--catalog {
			position: static;

			order: 1;

			border-right: 1px solid #e7e7e7;

			& a {
				padding: 32px 0 32px 50px;
				text-align: left;
			}
		}

		&--order {
			position: static;

			order: 2;

			& a {
				padding: 32px 0;
			}
		}

		&--search {
			width: 82px;
			margin-left: auto;

			order: 3;
		}

		&--cart {
			width: 266px;

			order: 4;
		}
	}
}
