.page-header {
	padding-bottom: 73px;

	background-color: #f1f1f1;


	&--main {
		padding-bottom: 0;

		background-image: url(../img/hero-mobile.jpg);
		background-position: center 65px;
		background-repeat: no-repeat;
		background-color: #f9f9f9;

		@media(min-width: 321px) {
			background-image: url(../img/hero-tablet.jpg@1x.jpg);
			background-size: auto 373px;
		}
	}

	&--nav-opened {
		background-position: center 376px;
	}
}

.page-header__wrapper {
	position: relative;

	max-width: 1150px;
	margin: 0 auto;
	padding-top: 73px;
}

.page-header__logo {
	position: relative;

	width: 100%;
	display: block;
	padding: 22px 0;

	&::after {
		content: '';

		position: absolute;
		bottom: 0;
		left: 0;

		width: 100%;
		height: 1px;

		background-color: #eaeaea;
	}

	&:hover,
	&:focus {
		opacity: 0.6;
	}

	&:active {
		opacity: 0.3;
	}
}

.page-header__logo-image {
	display: block;
	margin: 0 auto;
}

.page-header__text-wrapper {
	display: none;
}

.page-header__title {
	.mp-reset;

	font-family: "OpenSansBold";
	font-style: 27px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;

	color: #000000;

	&--index {
		margin-bottom: 120px;
	}
}

.page-header__link-wrapper {
	.list-reset;

	& li:nth-child(2n) .page-header__link {
		background-color: #56c3b2;
	}
}

.page-header__link {
	position: relative;

	display: block;
	padding: 28px 30px;

	font-family: "OpenSansBold";
	font-style: 19px;
	line-height: 24px;
	font-weight: bold;
	text-decoration: none;

	color: #ffffff;
	background-color: #63d1bb;



	&--interior {

		&::after {
			content: '';

			position: absolute;
			top: 21px;
			left: 76%;

			width: 40px;
			height: 62px;

			background-image: url(../img/icon-interior.svg);
			background-repeat: no-repeat;
		}
	}

	&--toy {

		&::after {
			content: '';

			position: absolute;
			top: 21px;
			left: 73%;

			width: 60px;
			height: 60px;

			background-image: url(../img/icon-toy.svg);
			background-repeat: no-repeat;
		}
	}
}

@media (min-width: @tablet-width) {
	.page-header {
		position: relative;

		padding-bottom: 72px;

		background-image: none;

		&--main {
			padding-bottom: 0;

			background-image: url(../img/hero-tablet.jpg@1x.jpg);
			background-position: center bottom;
			background-size: auto;
		}

		&::after {
			content: '';

			position: absolute;
			bottom: -1px;
			left: 0;

			width: 100%;
			height: 10px;

			background-image: url(../img/bg-zigzag-fill.svg);
			background-position: 0 0;
			background-repeat: repeat;
			background-size: cover;

			@media (min-width: 769px) {
				height: 16px;
			}
		}
	}

	.page-header__wrapper {
		padding-top: 101px;
	}

	.page-header__logo {
		width: auto;
		padding: 22px 0 20px 0;
		margin-right: auto;

		&::after {
			content: none;
		}
	}

	.page-header__logo-image {
		margin: 0;
	}

	.page-header__text-wrapper {
		position: absolute;
		top: 18px;
		right: 50px;

		.mp-reset;
		display: block;
	}

	.page-header__side-link {
		.link-reset;
		display: none;

		font-family: "OpenSansBold";
		font-style: 15px;
		line-height: 24px;
		font-weight: bold;

		color: #000000;

		&:hover,
		&:focus {
			opacity: 0.6;
		}

		&:active {
			opacity: 0.3;
		}
	}

	.page-header__text {
		display: block;

		font-family: "OpenSans";
		font-size: 15px;
		line-height: 24px;
		font-weight: normal;
	}

	.page-header__title {
		margin-bottom: 0;

		font-size: 43px;
		line-height: 50px;

		&--index {
			margin-bottom: 370px;
		}
	}

	.page-header__link-wrapper {
		width: 100%;
		padding: 0 50px;
		display: flex;
		flex-wrap: wrap;

		box-sizing: border-box;

		& li {
			width: 50%;
		}
	}

	.page-header__link {
		font-size: 20px;
		line-height: 30px;

		&--interior {

			&::after {
				top: 30px;
				left: 77%;
			}
		}

		&--toy {

			&::after {
				top: 31px;
				left: 72%;
			}
		}

		&:hover,
		&:focus {
			padding-top: 23px;
			padding-bottom: 38px;
			margin-top: -5px;
		}
		
		&:active {
			
			& span,
			&::after {
				opacity: 0.3;
			}
		}
	}
}

@media (min-width: @desktop-width) {
	.page-header {
		padding-bottom: 94px;

		&--main {
			padding-bottom: 0;

			background-image: url(../img/hero-desktop@1x.jpg);
			background-position: center 89px;
		}
	}

	.page-header__wrapper {
		padding-top: 162px;
	}

	.page-header__logo {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;

		transform: translate(-50%, -50%);
	}

	.page-header__title {
		font-size: 53px;
		line-height: 57px;
	}

	.page-header__text-wrapper {
		top: 0;
		right: 0;

		width: 100%;
		padding: 20px 50px 0 0;
		display: flex;

		box-sizing: border-box;
	}

	.page-header__side-link {
		display: block;
		padding-left: 50px;
		margin-right: 10px;
	}

	.page-header__text {
		margin-left: auto;
	}

	.page-header__link {
		padding: 31px 38px;

		&--interior {

			&::after {
				top: 30px;
				left: 448px;
			}
		}

		&--toy {

			&::after {
				top: 31px;
				left: 430px;
			}
		}

		&:hover,
		&:focus {
			padding-top: 26px;
			padding-bottom: 41px;
			margin-top: -5px;
		}
	}
}
