.reviews__wrapper {
	position: relative;
	
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 30px 51px;
	
	box-sizing: border-box;
	
	&::after {
		content: '';
		
		position: absolute;
		bottom: 0;
		left: 0;
		
		width: 100%;
		height: 6px;
		
		background-image: url(../img/bg-zigzag-line.svg);
		background-position: 0 0;
		background-repeat: repeat;
		background-size: contain;
	}
}

.reviews__title {
	.mp-reset;
	margin-bottom: 34px;
	
	font-family: "OpenSansBold";
	font-size: 25px;
	line-height: 30px;
	font-weight: bold;
	
	color: #000000;
}

.reviews__text {
	.mp-reset;
	margin-bottom: 35px;
	
	line-height: 30px;
}

.reviews__author {
	display: block;
	margin-bottom: 3px;
	
	font-family: "OpenSansBold";
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
	
	color: #000000;
}

.reviews__author-nickname {
	display: block;
	margin-bottom: 30px;
	
	font-family: "OpenSans";
	font-size: 17px;
	line-height: 30px;
	font-weight: normal;
	
	color: @grey-color;
}

.reviews__nav {
	.mp-reset;
	display: flex;
	margin-bottom: 38px;
}

.reviews__prev,
.reviews__next {
	position: relative;
	
	width: 50%;
	height: 50px;
	.mp-reset;
	
	border: 1px solid #ececec;
	background: none;
	
	&:hover,
	&:focus {
		opacity: 0.6;
		cursor: pointer;
	}
	
	&:active {
		opacity: 0.3;
		outline: none;
	}
}

.reviews__prev {
	
	&::after {
		content: '';
		
		position: absolute;
		top: 50%;
		left: 50%;
		
		width: 50px;
		height: 26px;
		
		background-image: url(../img/icon-left-arrow.svg);
		background-position: 0 0;
		background-repeat: no-repeat;
		transform: translate(-50%, -50%);
	}
}

.reviews__next {
	
	&::after {
		content: '';
		
		position: absolute;
		top: 50%;
		left: 50%;
		
		width: 50px;
		height: 26px;
		
		background-image: url(../img/icon-right-arrow.svg);
		background-position: 0 0;
		background-repeat: no-repeat;
		transform: translate(-50%, -50%);
	}
}

.reviews__button {
	width: 260px;
	margin: 0 auto;
}

@media (min-width: @tablet-width) {
	.reviews__wrapper {
		padding: 79px 50px 120px;
		display: flex;
		flex-wrap: wrap;
		
		background-image: url(../img/review@1x.jpg);
		background-position: 0 0;
		background-repeat: no-repeat;
		
		&::after {
			height: 16px;
		}
	}
	
	.reviews__title {
		margin-bottom: 57px;
		
		font-size: 43px;
		line-height: 50px;
	}
	
	.reviews__text {
		margin-bottom: 60px;
		font-size: 17px;
	}
	
	.reviews__author-nickname {
		margin-bottom: 0;
	}
	
	.reviews__nav {
		width: 167px;
		margin-left: auto;
		margin-bottom: 0;
	}
	
	.reviews__prev,
	.reviews__next {
		border: none;
	}
	
	.reviews__button {
		position: absolute;
		top: 79px;
		right: 50px;
		
		width: 175px;
	}
}

@media (min-width: @desktop-width) {
	.reviews__wrapper {
		padding: 78px 50px 185px 225px;
		
		background-position: 50px 0;
		
		&::after {
			width: 1050px;
			height: 22px;
			
			left: 50%;

			transform: translateX(-50%);
		}
	}
	
	.reviews__title {
		font-size: 53px;
		line-height: 57px;
	}
	
	.reviews__text {
		margin-bottom: 40px;
	}
}