.reviews__title {
	font-family: "OpenSansBold";
	font-size: 25px;
	line-height: 30px;
	font-weight: bold;
	
	color: #000000;
}

.reviews__text {
	line-height: 30px;
}

.reviews__author {
	font-family: "OpenSansBold";
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
	
	color: #000000;
}

.reviews__author-nickname {
	font-family: "OpenSans";
	font-size: 17px;
	line-height: 30px;
	font-weight: normal;
	
	color: @grey-color;
}

@media (min-width: @tablet-width) {
	.reviews__title {
		font-size: 43px;
		line-height: 50px;
	}
	
	.reviews__text {
		font-size: 17px;
	}
}

@media (min-width: @desktop-width) {
	.reviews__title {
		font-size: 53px;
		line-height: 57px;
	}
}